
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    background: #1a1a1a;
    padding: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 20px;
  color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
}

th, td {
    padding: 1px;
    border: 0.5px solid #ddd;
    text-align: left;
}

th {
    background-color: #004a99;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.positive {
    color: green;
    font-weight: bold;
}

.negative {
    color: red;
    font-weight: bold;
}

/* Erro ao carregar arquivo */
#loader {
    font-style: italic;
    color: white;
}

footer {
    color: #662;
}
