* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: small;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: radial-gradient(
        circle, rgb(199, 192, 192) 1%, rgb(169, 169, 169) 5%,rgb(79, 79, 79) 80%
        );
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

h1 {
    color: #333;
}

table {
    border-collapse: collapse;
    width: 80%;
    max-width: 600px;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

#stock-table {
    display: none;
}

th, td {
    adding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff; color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

.price {
    font-weight: bold; color: #28a745;
}

.loading {
    margin-top: 20px;
    font-style: italic;
    color: white;
}








#rodape {
    background: radial-gradient( rgb(99, 99, 99) 0%, rgb(192, 192, 192) 50%, rgb(97, 128, 128));
    height: 50px;   /* 25, 25, 112 */
    margin-top: 20px;
}

#rodape img {
    height: 27px;
    width: 25px;
    border-radius: 40%;
    animation: icones 10s linear infinite;
    margin: 1%;
}

#rodape svg {
    height: 27px;
    width: 27px;
    border-radius: 30%;
    animation: icones 10s linear infinite;
    margin: 1%;
}

.copyright {
    font-size: x-small;
    text-align: left;
    color: rgb(47, 121, 128);
    padding: 5px 0 1px 5px;
}
